/* Empty. Add your own CSS if you like */
.map {
  height: 100%;
  width: 100%;
}
.scroll {
  height: 100%;
}
.labels {
  color: black;

  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 80px;
  white-space: nowrap;
}